
/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
  background-color: pink;
  padding-left: 40px;
  padding-right: 40px;
}
/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main {
  width: calc(70% - 1px);
  margin: 0;
  float: left;
  padding: 1rem;
  border-right: 1px dotted green;
}

ul{
  list-style-type: square;
}
li::marker{
  list-style-type: square;
  color: green;
}
a:hover{
  color: green;
}
a:active{
  color: orange;
}
a:visited{
  color: black;
}
aside {
  width: 30%;
  float: right;
}
/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
  clear: left;
  background-color: pink;
  text-align: center;
}
/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
